/*css styling*/

*{
    margin: 10px;
    padding: 0;
}

header{
    background-color: lightblue;
    /* padding: 15px; */
}

header a{
color: cadetblue;
font-family: "glammo";
font-size: 20px;
text-decoration: none;
text-transform: uppercase;
}

body{
    background-color: antiquewhite;
}

h1{
    /* background-color: darkcyan; */
    /* margin: auto; */
    font-size: 30px;
    font-weight: 400;
    padding-left: 325px;
    font-family: "quiche-sans", sans-serif;
    text-transform: uppercase;
}

p{
    /* background-color: darkseagreen; */
    padding: 30px 30px 60px 30px;
    line-height: 2;
    font-family: "quiche-sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
}

/* flexbox designing */

/* header */
#boop{
    /* background-color: aquamarine; */
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 80px;
    align-items: baseline;
}

.text{
    /* background-color: brown; */
    width: 50%;
    padding-left: 10%;
}

.portrait {
    /* background-color: cornflowerblue; */
    width: 50%;
    position: absolute;
    right: 120px;
    bottom: 50px;
    width: 20%;
    margin-left: 68%;
    border-radius: 60%;
    padding-right: 10%;
}


/* section */

#guide{
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.title a{
    /* background-color: mediumslateblue; */
    width: 80%;
    padding-left: 15%;
    position: relative;
    bottom: 85px;
    right: 110px; 
}

.mofusand{
    /* background-color: rgb(134, 188, 206); */
    border-radius: 8%;
    width: 20%;
}